<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Raaka-aineet</h2>
        <ul>
            <li th:each="raakaaine: ${raakaaineet}">
                <span th:text="${raakaaine.nimi}">raaka-aine</span> <a th:href="${'/poista-raaka-aine/' + raakaaine.id}">(poista)</a>
            </li>
        </ul>
        
        <h4>Lisää uusi raaka-aine</h4>
        <form method="POST" action="/raaka-aineet">
            Raaka-aineen nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää raaka-aine"/>
        </form>
    </body>
</html>