<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${smoothie.nimi}"></title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2 th:text="${smoothie.nimi}"></h2>
        <ul>
            <li th:each="ohje: ${resepti}">
                <span th:text="${ohje}">ohje</span> 
            </li>
        </ul>
        
        <br/>
        <br/>
        <a th:href="${'/'}">Takaisin smoothielistaan</a>
    </body>
</html>