<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothie-lista</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Smoothie-lista</h2>
        <ul>
            <li th:each="smoothie: ${smoothielista}">
                <a th:href="${'/resepti/' + smoothie.id}" th:text="${smoothie.nimi}"></a>
            </li>
        </ul>
        <br/>
        <br/>
        <a th:href="${'/smoothiet'}">Lisää smoothie</a><br/>
        <a th:href="${'/raaka-aineet'}">Tarkastele ja lisää raaka-aineita</a>
    </body>
</html>