<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Smoothiet</h2>
        <ul>
            <li th:each="smoothie: ${smoothielista}">
                <span th:text="${smoothie.nimi}">smoothie</span> <a th:href="${'/poista-smoothie/' + smoothie.id}">(poista)</a>
            </li>
        </ul>
        <h4>Lisää uusi smoothie</h4>
        <form method="POST" action="/smoothiet">
            Smoothien nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää smoothie"/>
        </form>
        <h4>Lisää raaka-aine</h4>
        <form method="POST" action="/lisaa-raaka-aine">
            Smoothien nimi:<br/>
            <select name="smoothieId">
                <option th:each="smoothie: ${smoothielista}" th:value="${smoothie.id}" th:text="${smoothie.nimi}">
                </option>
            </select><br/>
            Lisättävä raaka-aine:<br/>
            <select name="raakaAineId">
                <option th:each="raakaaine: ${raakaaineet}" th:value="${raakaaine.id}" th:text="${raakaaine.nimi}">
                </option>
            </select><br/>
            Järjestys:<br/>
            <input type="text" name="jarjestys"/><br/>
            Määrä:<br/>
            <input type="text" name="maara"/><br/>
            Ohje:<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää raaka-aine"/>
        </form>
        <br/>
        <br/>
        <a th:href="${'/'}">Takaisin smoothielistaan</a>
    </body>
</html>